@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('NeueHelveticaBQ-Bold.otf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Helvetica Neue Roman';
    src: url('HelveticaNeue-Roman.otf') format('truetype');
    font-weight: normal;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    font-family: 'Helvetica Neue Roman', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue Bold', sans-serif;
}

textarea {
    padding: 5px;
    overflow: auto;
    resize: none;
}

a {
    color: black;
    font-family: 'Helvetica Neue Bold', sans-serif;
}

a:visited {
    color: black;
}

input[type="text"],
input[type="password"] {
    font-family: 'Helvetica Neue Bold', sans-serif;
    background-color: #cacaca;
    color: #414141;
    border-color: #cacaca;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: white;
    color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #000;
    padding: 5px;
    font-family: 'Helvetica Neue Bold', sans-serif;
}

button:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 5px #000;
}

.login {
    display: flex;
    flex-direction: column;
}

.margined-label {
    margin-bottom: 10px;
}

.menu {
    position: absolute;
    top: 20px;
    right: 25px;
    padding: 20px;
    width: 272px;
}

.pack {
    position: relative;
    width: 600px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: #888;
    border-width: thin;
}

.pack-name {
    font-size: 2em;
    font-family: 'Helvetica Neue Bold', sans-serif;
}

.date {
    color: #888;
    text-align: right;
    position: absolute;
    margin: 3px;
    top: 0;
    right: 0;
}

.registration {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.languages-modal-content {
    width: 300px;
}

.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.language-list {
    max-height: 200px;
    overflow-y: auto;
}

.cards {
    text-align: center;
}

.cards-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    width: 400px;
    font-family: 'Helvetica Neue Bold', sans-serif;
}

.card {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #888;
    font-family: 'Helvetica Neue Bold', sans-serif;
}

.card-name {
    text-align: left;
}

.review {
    position: relative;
    padding: 5px;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #888;
}

.black-card-sim {
    color: white;
    font-family: 'Helvetica Neue Bold', sans-serif;
    font-size: 3em;
}

.white-card-sim {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: white;
    padding-left: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 200px;
    display: inline-block;
    text-align: left;
    font-family: 'Helvetica Neue Bold', sans-serif;
}

.simulator-page {
    text-align: center;
}

.welcome {
    font-family: 'Helvetica Neue Bold', sans-serif;
    font-size: 2em;
}

.icon-button {
    text-indent: -9999px;
    border: none;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}

.icon {
    display: block;
    width: 50%;
    height: 50%;
}

.edit-button {
    background: url("cah-edit.png") no-repeat center center; 
}

.delete-button {
    background: url("cah-delete.png") no-repeat center center;
}

.swap-button {
    background: url("cah-swap.png") no-repeat center center;
}

.add-button {
    background: url("cah-add.png") no-repeat center center;
}

.inverse-button {
    background-color: black;
    color: white;
}

.inverse-button:hover {
    background-color: white;
    border-color: white;
    color: black;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.language-item {
    font-family: 'Helvetica Neue Bold', sans-serif;
    text-align: center;
    margin: 5px;
}

.language-item:hover {
    background-color: #000;
    color: white;
}

.create-block {
    margin: auto;
    width: 600px;
    text-align: center;
    line-height: 2;
}

#registration-box {
    margin: auto;
    width: 300px;
}

#threebuttons {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#error-msg {
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: 272px;
    padding: 30px;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    border-color: rgb(196, 74, 74);
    background-color: #ffbdb9;
    color:rgb(196, 74, 74);
    font-family: 'Helvetica Neue Bold', sans-serif;
    display: none;
}

#authors-review {
    background-color:#f0dbff;
    border-color: #763aa1;
}

#white-cards {
    background-color: white;
}

#black-cards {
    color: white;
    background-color: black;
}

#search-bar {
    width: 600px;
    box-sizing: border-box;
}

