<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <form method="POST">
        Name: <input type="text" name="name">
        <br>
        Language: <select name="language" class="form-control select2">
            {% for language in languages %}
                <option value="{{ language }}">{{ language }}</option>
            {% endfor %}
        </select>
        <br>
        <p>
        *Your pack will be...
        <input type="radio" name="publicity" value="0" required> Private
        <input type="radio" name="publicity" value="1" required> Public
        </p>
        <input type="submit" value="Submit">
        <input type="hidden" name="crsf_token" value="{{ session.crsf_token }}">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').select2();
        });
    </script>
    {% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
</body>


