<!DOCTYPE html>
<html>
<head>
  <title>Custom Cards</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <h1>Custom Cards Against Humanity!</h1>
    <hr>
    <p>Have you ever played CAH and thought that the default cards are not enough? Maybe you played so much that you've grown bored of them or would like cards to be themed around your local jokes? 
        Maybe you want to go as extreme as you can? Either way, this platform allows you to create your very own packs and test them.</p>
    <div class="menu">
        {% if session.username %}
            <h2>Welcome, {{session.username}}!</h2>
            <a href="/users/{{session.username}}">My profile</a>
            <br>
            <a href="/search">Search</a>
            <br>
            <a href="/logout">Log out</a>
        {% else %}
            <h2>Welcome!</h2>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Username">
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password">
                <br>
                <input type="submit" value="Sign in">
                {% block content %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <a class="error-msg">{{msg}}</a>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% endblock %}
            </form>
            <br>
            <a href="/search">Search</a>
            <br>
            <a href="/register">Sign up</a>
        {% endif %}
    </div>

    <h2>New packs:</h2>
    <p>This section will contain new public packs.</p>
    
    <p>To be added in future:</p>
    <ol>
        <li>Proper editing of cards inside of a pack</li>
        <li>Search for users or packs</li>
        <li>Being able to rate other public packs</li>
        <li>Show new public packs on main page</li>
        <li>Test your cards in a simulator</li>
    </ol>
    <p>Neat features, that don't have 100% chance of making it:</p>
    <ol>
        <li>Having access to other people's profiles and being able to merge your packs (of course, your pack could be either private or public)</li>
        <li>Generating pdf of your pack for you to print</li>
        <li>Being able to play your packs with your friends</li>
    </ol>
</body>
</html>