<h1>Custom Cards Against Humanity!</h1>
<p>Have you ever played CAH and thought that the default cards are not enough? Maybe you played so much that you've grown bored of them or would like cards to be themed around your local jokes? 
    Maybe you want to go as extreme as you can? Either way, this platform allows you to create your very own packs and test them.</p>
<form action="/login" method="post">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    <input type="submit" value="Sign in">
</form>
<a href="/register">Sign up</a>
<p>To be added in future:</p>
<ol>
    <li>Proper sign up/sign in</li>
    <li>Create packs, modify existing packs, delete packs</li>
    <li>Create input cards or base cards inside your packs</li>
    <li>Test your cards in a simulator</li>
</ol>
<p>Neat features, that don't have 100% chance of making it:</p>
<ol>
    <li>Having access to other people's profiles and being able to merge your packs (of course, your pack could be either private or public)</li>
    <li>Generating pdf of your pack for you to print</li>
    <li>Being able to play your packs with your friends</li>
</ol>