<!DOCTYPE html>
<html>
<head>
  <title>Custom Cards</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <h1>Custom Cards Against Humanity!</h1>
    <hr>
    <h2>What is this site about?</h2>
    <p>Here you can create your own packs for the party game Cards Against Humanity. Check out the official <a href="https://www.cardsagainsthumanity.com/">page</a>!</p>
    <h2>What are the rules of the official game?</h2>
    <blockquote cite="https://cdn.sanity.io/files/vc07edlh/production/ddf02ce6c4a0bbebdb737abdf86c00e2795ee1b2.pdf">
        To start the game, each player draws ten white cards.<br>
        One player begins as the Card Czar and draws a black card.<br>
        The Card Czar reads the question or fill-in-the-blank phrase on the black card out loud. Everyone else answers the question or fills in the blank by passing one white card, face down, to the Card Czar.<br>
        The Card Czar then reads each card combination out loud to the group. The Card Czar should re-read the black card before presenting each answer. Finally, the Card Czar picks the funniest play, and whoever submitted it gets one point.<br>
        After the round, a new player becomes the Card Czar and everyone draws back up to ten white cards.
    </blockquote>
    <hr>
    <h2>New packs:</h2>
        {% if recent_packs %}
            {% for pack in recent_packs %}
                <div class="pack">
                    <span><a href="/packs/{{ pack['id'] }}">{{ pack['name'] }}</a> by <a href="/users/{{ pack['author'] }}">{{ pack['author'] }}</a></span> <br>
                    <span>Rating: {{ pack['rating'] }}</span> <br>
                    <span>Language: {{ pack['language'] }}</span> <br>
                    <i class="date">{{ pack['created'] }}</i>
                </div>
            {% endfor %}
        {% else %}
            <p>It seems like there is no public packs at all. Be first and create some!</p>
        {% endif %}
    <div class="menu">
        {% if session.username %}
            <h2>Welcome, {{session.username}}!</h2>
            <a href="/users/{{session.username}}">My packs</a>
            <br>
            <a href="/search">Search</a>
            <br>
            <a href="/simulator">Test</a>
            <br>
            <a href="/logout">Log out</a>
        {% else %}
            <h2>Welcome!</h2>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Username">
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password">
                <br>
                <input type="submit" value="Sign in">
                {% block content %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <a class="error-msg">{{msg}}</a>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% endblock %}
            </form>
            <br>
            <a href="/search">Search</a>
            <br>
            <a href="/register">Sign up</a>
        {% endif %}
    </div>
</body>
</html>