<!DOCTYPE html>
<html>
<head>
  {% if not pack or (userid != session["userid"] and pack['is_public'] == False) %}
    <title>Pack №404</title>
  {% else %}
    <title>{{ pack['name'] }}</title>
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function editName() {
        var nameDisplay = document.getElementById("nameDisplay");
        var nameInput = document.getElementById("nameInput");

        nameDisplay.style.display = "none";
        nameInput.style.display = "inline";
        nameInput.value = nameDisplay.textContent;
        nameInput.focus();
    }

    function saveName(event) {
        if (event.key === "Enter") {
            var nameDisplay = document.getElementById("nameDisplay");
            var nameInput = document.getElementById("nameInput");

            nameDisplay.textContent = nameInput.value;
            nameDisplay.style.display = "inline";
            nameInput.style.display = "none";

            $.ajax({
                url: "/edit_name",
                type: "POST",
                data: {
                    name: nameInput.value,
                    id: "{{ pack['id'] }}"
                },
                success: function(response) {
                    console.log("Pack name edited successfully.");
                },
                error: function(response) {
                    console.log("Error!")
                }
            });
        }
    }
  </script>
</head>
<body>
    {% if not pack %}
        <p>This pack doesn't exist.</p>
    {% elif userid != session["userid"] and pack['is_public'] == False %}
        <p>This pack is set as private.</p>
    {% else %}
        <span id="nameDisplay">{{ pack['name'] }}</span>

        {% if userid == session["userid"] %}
            <input type="text" id="nameInput" style="display:none" onkeydown="saveName(event)">
            <button onclick="editName()">Edit</button>
        {% endif %}

        <br>
        <i>{{ pack['author'] }}</i>
        <p>Language: {{ pack['language'] }}</p>

        {% if userid == session["userid"] %}
            <a href="/">Edit</a>
        {% endif %}

        {% if pack['is_public'] == True %}
            <p>This is a public pack.</p>
            {% if userid == session["userid"] %}
                <a href="/">Make private</a>
                <br>
            {% endif %}
        {% else %}
            <p>This is a private pack.</p>
            {% if userid == session["userid"] %}
                <a href="/">Make public</a>
                <br>
            {% endif %}
        {% endif %}

        <br>
        
    {% endif %}
    <div>
        {% if not is_guest %}
            <a href="/users/{{ session.username }}">My packs</a>
            <a href="/search">Search</a>
            <a href="/logout">Log out</a>
        {% else %}
            <a href="/register">Sign up</a>
            <a href="/search">Search</a>
        {% endif %}
            <a href="/">Main page</a>
    </div>
</body>
</html>