<!DOCTYPE html>
<html>
<head>
  {% if not pack or (userid != session["userid"] and pack['is_public'] == False) %}
    <title>Pack №404</title>
  {% else %}
    <title>{{ pack['name'] }}</title>
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function editName(nameDisplay, nameInput) {
        nameDisplay.style.display = "none";
        nameInput.style.display = "inline";
        nameInput.value = nameDisplay.textContent;
        nameInput.focus();
    }
    function saveName(event, nameDisplay, nameInput, url, cardId = null) {
        if (event.key === "Enter") {
            nameDisplay.textContent = nameInput.value;
            nameDisplay.style.display = "inline";
            nameInput.style.display = "none";
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    name: nameInput.value,
                    id: "{{ pack['id'] }}",
                    cardId: cardId,
                    crsf_token: "{{ session.crsf_token }}"
                },
                success: function() {
                    console.log("Name edited successfully.");
                },
                error: function() {
                    console.log("Error!")
                }
            });
        }
    }
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        function openModal(modalId) {
            document.getElementById(modalId).style.display = "block";
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = "none";
        }

        var changeLanguage = document.getElementById("changeLanguage");
        var closeLanguagesModal = document.getElementById("closeLanguagesModal");
        if (changeLanguage && closeLanguagesModal) {
            changeLanguage.onclick = function() {
                openModal("modal-languages");
            };
            closeLanguagesModal.onclick = function() {
                closeModal("modal-languages");
            };
        }
        
        var deletePack = document.getElementById("deletePack");
        var closeDeleteModal = document.getElementById("closeDeleteModal");
        if (deletePack && closeDeleteModal) {
            deletePack.onclick = function() {
                openModal("modal-delete");
            };
            closeDeleteModal.onclick = function () {
                closeModal("modal-delete");
            };
        }
        
        document.getElementById("openReviews").onclick = function() {
            openModal("modal-reviews");
        };
        document.getElementById("closeReviews").onclick = function() {
            closeModal("modal-reviews");
        };
            
        window.onclick = function(event) {
            if (event.target.classList.contains("modal")) {
                closeModal(event.target.id);
            }
        };
    }); 
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var languages = {{ languages|tojson }};
        function updateLanguageList(filter) {
            var languageList = document.getElementById("languageList");
            languageList.innerHTML = '';
            languages.forEach(function(language) {
                if (!filter || language.toLowerCase().includes(filter.toLowerCase())) {
                    var languageItem = document.createElement("div");
                    languageItem.textContent = language;
                    languageItem.classList.add("language-item");
                    languageItem.onclick = function() {
                        document.getElementById("modal-languages").style.display = "none";
                        $.ajax({
                            url: "/edit_language",
                            type: "POST",
                            data: {
                                language: language,
                                id: "{{ pack['id'] }}",
                                crsf_token: "{{ session.crsf_token }}"
                            },
                            success: function() {
                                console.log("Language edited successfully!")
                            },
                            error: function() {
                                console.log("There was an error while editing language.")
                            }
                        });
                    };
                    languageList.appendChild(languageItem);
                }
            });
        }
        var languageSearch = document.getElementById("languageSearch");
        var changeLanguage = document.getElementById("changeLanguage");
        if (languageSearch && changeLanguage) {
            languageSearch.addEventListener("input", function(event) {
                updateLanguageList(event.target.value);
            });
            changeLanguage.addEventListener("click", function() {
                updateLanguageList(''); 
            });
        }
        
    });
  </script>
</head>
<body>
    {% if not pack %}
        <p>This pack doesn't exist.</p>
    {% elif userid != session["userid"] and pack['is_public'] == False %}
        <p>This pack is set as private.</p>
    {% else %}
        <span id="nameDisplay" class="pack-name">{{ pack['name'] }}</span>

        {% if userid == session["userid"] %}
            <input type="text" id="nameInput" style="display:none" onkeydown="saveName(event, nameDisplay, nameInput, '/edit_name')">
            <button id="editNameButton" onclick="editName(nameDisplay, nameInput)">Edit</button>
        {% endif %}

        <br>
        <i>{{ pack['author'] }}</i>
        <p>Language: {{ pack['language'] }}</p>

        {% if userid == session["userid"] %}
            <button id="changeLanguage">Change language</button>
            <div id="modal-languages" class="modal">
                <div class="modal-content">
                    <span id="closeLanguagesModal">&times;</span>
                    <input type="text" id="languageSearch" placeholder="Search for a language...">
                    <div id="languageList" class="language-list"></div>
                </div>
            </div>
        {% endif %}

        {% if pack['is_public'] == True %}
            <p>This is a public pack.</p>
            {% if userid == session["userid"] %}
                <form method="POST" action="/edit_privacy">
                    <input type="hidden" name="privacy" value="false">
                    <input type="hidden" name="id" value="{{ pack['id'] }}">
                    <input type="hidden" name="crsf_token" value="{{ session.crsf_token }}">
                    <button type="submit">Make private</button>
                    <br>
                </form>
            {% endif %}
        {% else %}
            <p>This is a private pack.</p>
            {% if userid == session["userid"] %}
                <form method="POST" action="/edit_privacy">
                    <input type="hidden" name="privacy" value="true">
                    <input type="hidden" name="id" value="{{ pack['id'] }}">
                    <input type="hidden" name="crsf_token" value="{{ session.crsf_token }}">
                    <button type="submit">Make public</button>
                    <br>
                </form>
            {% endif %}
        {% endif %}
        <br>
        <p>Rating: {{ mean_rating }}</p>
        <button id="openReviews">See what other people think!</button>
        <br>
        <div id="modal-reviews" class="modal">
            <div class="modal-content">
                <span id="closeReviews">&times;</span>
                {% if is_guest %}
                    <span>Only registered users can leave reviews.</span>
                {% elif user_left_review %}
                    <div>
                        <p>You have already commented this. In future your could also delete or edit your comment!</p>
                    </div>
                {% else %}
                    <p>Leave a review:</p>
                    <form action="/rate_pack" method="post">
                        <legend>*How would you rate the pack?</legend>
                        <label><input type="radio" name="rating" value="1" required>1</label>
                        <label><input type="radio" name="rating" value="2" required>2</label>
                        <label><input type="radio" name="rating" value="3" required>3</label>
                        <label><input type="radio" name="rating" value="4" required>4</label>
                        <label><input type="radio" name="rating" value="5" required>5</label>
                        <br>
                        <textarea rows="5" cols="60" name="comment" placeholder="Write your thoughts..." maxlength="1000" id="write-comment"></textarea>
                        <input type="hidden" name="crsf_token" value="{{ session.crsf_token }}">
                        <input type="hidden" name="pack_id" value="{{ pack['id'] }}">
                        <input type="hidden" name="author_id" value="{{ session.userid }}">
                        <br>
                        <button type="submit">Comment</button>
                        <br>
                    </form>
                {% endif %}
                <div>
                    {% if not revs %}
                        <p>Nobody has commented on this pack yet.</p>
                    {% else %}
                        {% for review in revs %}
                            <div class="review" id="{{ 'authors-review' if review['is_author'] else review['id'] }}">
                                <span title="{{ 'Author' if review['is_author'] }}">{{ review['username'] }}</span>
                                {% if review['is_author'] %}
                                    <span title="Author">&#9733;</span>
                                {% endif %}
                                <br>
                                <span>{{ review['rating'] }}</span>
                                <br>
                                <p>{{ review['comment'] }}</p>
                                <i>Left {{ review['time'] }}</i>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if userid == session["userid"] %}
            <button id="deletePack">Delete pack</button>
            <div id="modal-delete" class="modal">
                <div class="modal-content">
                    <span id="closeDeleteModal">&times;</span>
                    <span>Are you sure you want to delete this pack?</span>
                    <form method="POST" action="/delete_pack">
                        <input type="hidden" name="id" value="{{ pack['id'] }}">
                        <input type="hidden" name="crsf_token" value="{{ session.crsf_token }}">
                        <button type="submit">Yes!</button>
                    </form>
                </div>
            </div>
            
        {% endif %}
        {% block content %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endblock %}
        <div class="cards">
            <div class="cards-block" id="white-cards">
                <p>White cards:</p>
                {% if userid == session.userid %}
                    <form method="POST" action="/add_white_card">
                        <input type="text" name="white_card_content" placeholder="Add new white card..." maxlength="50" required>
                        <input type="hidden" name="crsf_token" value="{{ session.crsf_token }}">
                        <input type="hidden" name="pack_id" value="{{ pack['id'] }}">
                        <button type="submit">Add</button>
                    </form>
                    
                {% endif %}
                {% if white_cards %}
                    {% for white_card in white_cards %}
                        <div class="card" id="white-card">
                            <a class="card-name" id="whiteCardDisplay{{ white_card['id'] }}">{{ white_card['content'] }}</a>
                            {% if userid == session.userid %}
                                <input 
                                    type="text" 
                                    id="whiteCardInput{{ white_card['id'] }}" 
                                    style="display:none" 
                                    onkeydown="saveName(event, whiteCardDisplay{{ white_card['id'] }}, whiteCardInput{{ white_card['id'] }}, '/edit_white_card', {{ white_card['id'] }})" required>
                                <button type="button" onclick="editName(whiteCardDisplay{{ white_card['id'] }}, whiteCardInput{{ white_card['id'] }})">Edit</button>

                                <form method="POST" action="/delete_white_card">
                                    <input type="hidden" name="white_card_id" value="{{ white_card['id'] }}">
                                    <input type="hidden" name="crsf_token" value="{{ session.crsf_token }}">
                                    <input type="hidden" name="pack_id" value="{{ pack['id'] }}">
                                    <button type="submit">Delete</button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="cards-block" id="black-cards">
                <p>Black cards:</p>
                {% if userid == session.userid %}
                    <form method="POST" action="/add_black_card">
                        <input type="text" name="black_card_content" placeholder="Type _ for a blank." title="Type /_ if you want to include underscore in your card, but not make it a blank." maxlength="120" required>
                        <input type="hidden" name="pack_id" value="{{ pack['id'] }}">
                        <input type="hidden" name="crsf_token" value="{{ session.crsf_token }}">
                        <button type="submit">Add</button>
                    </form>
                {% endif %}
                {% if black_cards %}
                    {% for black_card in black_cards %}
                        <div class="card" id="black-card">
                            <a class="card-name" id="blackCardDisplay{{ black_card['id'] }}">{{ black_card['content'] }}</a>
                            {% if userid == session.userid %}
                                <input
                                    type="text" 
                                    id="blackCardInput{{ black_card['id'] }}" 
                                    style="display:none" 
                                    onkeydown="saveName(event, blackCardDisplay{{ black_card['id'] }}, blackCardInput{{ black_card['id'] }}, '/edit_black_card', {{ black_card['id'] }})" required>
                                <button type="button" onclick="editName(blackCardDisplay{{ black_card['id'] }}, blackCardInput{{ black_card['id'] }})">Edit</button>
                                <form method="POST" action="/delete_black_card">
                                    <input type="hidden" name="black_card_id" value="{{ black_card['id'] }}">
                                    <input type="hidden" name="crsf_token" value="{{ session.crsf_token }}">
                                    <input type="hidden" name="pack_id" value="{{ pack['id'] }}">
                                    <button type="submit">Delete</button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    {% endif %}
    <div class="menu">
        {% if not is_guest %}
            <a href="/users/{{ session.username }}">My packs</a>
            <br>
            <a href="/search">Search</a>
            <br>
            <a href="/logout">Log out</a>
        {% else %}
            <a href="/register">Sign up</a>
            <br>
            <a href="/search">Search</a>
        {% endif %}
        <br>
        <a href="/">Main page</a>
    </div>
</body>
</html>