<!DOCTYPE html>
<html>
<head>
  <title>{{ username }}'s packs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    {% if user %}
        <h1>{{ username }}</h1>
        <p>Created {{ pack_count }} packs</p>
        {% if username == session.username %}
            <a href="/create">New pack</a>
            <br>
        {% endif %}
        {% if not packs %}
            <i>It is empty here...</i>
        {% else %}
            {% for pack in packs %}
                {% if username != session.username and pack['is_public'] == False %}
                    {# skip #}
                {% else %}
                    <div>
                        <a href="/packs/{{ pack['id'] }}">{{ pack['name'] }}</a>
                        <p>Language: {{ pack['language'] }}</p>
                        <p>Created at: {{ pack['created'] }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        <h2>You are trying to access an unexisting user :(</h2>
        <p>User named {{ username }} is not registered yet. Maybe you can ask them to join or become {{ username }} yourself.</p>
    {% endif %}
    <br>
    <div class="menu">
        {% if not is_guest %}
            <a href="/users/{{ session.username }}">My packs</a>
            <br>
            <a href="/search">Search</a>
            <br>
            <a href="/logout">Log out</a>
        {% else %}
            <a href="/register">Sign up</a>
            <br>
            <a href="/search">Search</a>
        {% endif %}
        <br>
        <a href="/">Main page</a>
    </div>
</body>
</html>