{% if user %}
    <h1>{{ username }}'s profile</h1>
    {% if username == current_user %}
        <h2>My packs:</h2>
    {% else %}
        <h2>{{ username }}'s packs</h2>
    {% endif %}
    {% if username == current_user %}
        <a href="/create">New pack</a>
        <br>
    {% endif %}
    {% if not packs %}
        <i>It is empty here...</i>
    {% else %}
        {% for pack in packs %}
            {% if username != current_user and pack['is_public'] == False %}
                {# skip #}
            {% else %}
                <h3>{{ pack['name'] }}</h3>
                <p>Language: {{ pack['language'] }}</p>
                <p>Created at: {{ pack['created'] }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% else %}
    <h2>You are trying to access an unexisting user :(</h2>
    <p>User named {{ username }} is not registered yet. Maybe you can ask them to join or become {{ username }} yourself.</p>
{% endif %}
<br>
<a href="/">Main page</a>