<!DOCTYPE html>
<html>
<head>
  <title>{{ username }}'s packs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    {% if user %}
        <h1>{{ username }}</h1>
        <p>Created <b>{{ pack_count }}</b> packs</p>
        {% if username == session.username %}
            <a href="/create">New pack</a>
            <br>
        {% endif %}
        {% if not packs %}
            <p>It is empty here...</p>
        {% else %}
            {% for pack in packs %}
                {% if username != session.username and pack['is_public'] == False %}
                    {# skip #}
                {% else %}
                    <div class="pack">
                        <a href="/packs/{{ pack['id'] }}">{{ pack['name'] }}</a> <br>
                        <span>Rating: {{ pack['rating'] }}</span> <br>
                        <span>Language: {{ pack['language'] }}</span> <br>
                        <span class="date">{{ pack['created'] }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        <h2>You are trying to access an unexisting user :(</h2>
        <p>User named {{ username }} is not registered yet. Maybe you can ask them to join or become {{ username }} yourself.</p>
    {% endif %}
    <br>
    <div class="menu">
        {% if session.username %}
            <a href="/users/{{ session.username }}">My packs</a>
            <br>
            <a href="/search">Search</a>
            <br>
            <a href="/simulator">Test</a>
            <br>
            <a href="/logout">Log out</a>
        {% else %}
            <a href="/register">Sign up</a>
            <br>
            <a href="/search">Search</a>
        {% endif %}
        <br>
        <a href="/">Main page</a>
    </div>
</body>
</html>